@charset "utf-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");


html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
em,
img,
small,
strong,
b,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tr,
th,
td,
article,
aside,
footer,
header,
nav,
section,
summary,
video,
* {
    padding: 0;
    margin: 0;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    display: block;
}

html {
    /* Prevent font scaling in landscape */

    -webkit-text-size-adjust: none;
    /*Chrome, Safari, newer versions of Opera*/

    -moz-text-size-adjust: none;
    /*Firefox*/

    -ms-text-size-adjust: none;
    /*Ie*/

    -o-text-size-adjust: none;
    /*old versions of Opera*/
            scroll-behavior:smooth;
}


body {
    font-family: Pretendard;
    font-size: 15px;
    line-height: 1.5em;
    color: #333;

}

#wrap {
    min-width: 1360px;
    position: relative;
    text-transform: uppercase;
    overflow: hidden;


}

img {
    display: block;
}

span {
    display: block;
    text-transform: uppercase;
}

/* header  */
header {
    width: 100%;
    margin: 0 auto;
    position: relative;
    height: 85px;
}

.innt_header{
    width: 1320px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.top a {
    width: 60px;
    height: 60px;
    background-color: #898674;
    border-radius: 50%;
    position: fixed;
    right: 80px;
    bottom: 30px;
    text-align: center;
    padding: 15px 16px;
    box-sizing: border-box;
    z-index: 99;

}

.top a:hover {
    background-color: #4D4D4D;

}



.nav {
    display: flex;
    gap: 20px;
    margin-top: 30px;
}

.nav_btn {
    cursor: pointer;
}


#arrow {
    display: flex;
    gap: 5px;
}


.option {
    background-color: #fff;
    position: absolute;
    top: 60px;
    left: -10px;
    z-index: 99;
    box-sizing: border-box;
    border-top: none;
}

.option p {
    padding: 6px 10px;
    cursor: pointer;
}

.option p:hover {
    background-color: #ddd;
}


/* 버튼 회전 클래스 주기 */

.arrow img {
    display: block;
    transform-origin: center;
    transition: transform 0.5s ease;
}

.turn img {
    transform: rotate(180deg);
}


.turn {
    transform: rotate(180deg);
    transition: all 0.1s;

}

.util {
    display: flex;
    height: 100%;
    width: 224px;
    gap: 30px;
    align-items: center;
}

.logo {
    padding: 15px 0;

}


/* 기본 네비게이션 바 */
.navbar {
    display: flex;
    align-items: center;
    z-index: 1000;
    text-transform: uppercase;
    position: absolute;
    top: 30px;
    right: 200px;
}



/* 햄버거 버튼: 항상 표시 */
.hamburger {
    width: 30px;
    height: 21px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
    z-index: 1002;

}

.hamburger span {
    height: 3px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    transition: 0.3s;
}

.hamburger:hover {
    cursor: pointer;
}

.hamburger .line {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #333;
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
}

/* ONE */


/* 햄버거 활성화 상태 */
.hamburger.is-active .line:nth-child(1) {
    transform: translateY(8.5px) rotate(45deg);
    background-color: #fff;
}

.hamburger.is-active .line:nth-child(2) {
    opacity: 0;
}

.hamburger.is-active .line:nth-child(3) {
    transform: translateY(-8.5px) rotate(-45deg);
    background-color: #fff;
}


/* 메뉴 오버레이 스타일 */
.nav-overlay {
    position: fixed;
    top: 0;
    right: -410px;
    /* 메뉴판 너비만큼 완전히 숨김 */
    width: 410px;
    height: 100%;
    background-color: rgba(124, 122, 109, 0.8);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s ease-in-out;
    z-index: 1000;
    /* 중요: 자식인 버튼이 이 박스 밖으로 나가도 보이게 설정 */
    overflow: visible;
}

/* 활성화 상태 (JS로 추가됨) */
.nav-overlay.active {
    right: 0;
}

.nav-overlay.active .hamburger span {
    pointer-events: auto;
    /* 숨겨진 영역 안에서도 버튼은 클릭 가능하게 */
}

.nav-menu {
    list-style: none;
    padding: 0;
    text-align: left;
}

.nav-menu li {
    margin: 10px 0 0 0;
}

.nav-menu a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
    font-family: "optima-lt-pro", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.menu_num a {
    display: block;
    font-size: 20px;
    font-weight: 400;

}

.menu_tlte {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding-top: 35px;
    padding-bottom: 5px;
    font-size: 30px;
    font-family: "optima-lt-pro", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.menu_tlte1 {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 30px;
    font-family: "optima-lt-pro", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-weight: bold;
    padding-bottom: 5px;
}



/* lnnt_container */

.lnnt_container1 {
    width: 1320px;
    margin: 0 auto;


}

.buud  {
    height: 250px;
    background: url(../img/sub3/room/room_tltle.jpg) center;
    color: #fff;
    font-family: "optima-lt-pro", sans-serif;
    font-weight: 700;
    font-style: normal;

}

h2 {
    font-size: 40px;
    padding-top: 120px;
    font-family: "optima-lt-pro", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
}

.buud_text {
    text-align: center;
    font-size: 20px;
}


/* 탭버튼 꾸미기 */
#box1 {
    display: flex;
    justify-content: center;
    margin: 100px 0 50px;
}

#box1>li {
    width: 300px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    background: #9D927E;
    color: #fff;
    font-size: 18px;
}

#box1>li.opacity {
    background: #4B2223;
}

.room_board {
    display: none;
}

.room_board.active {
    display: block;
}

/* 이미지 탭 영역 (썸네일 하단 배치) */
.photo_view_area {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main_photo_container {
    transform: translateX(15%);
    width: 990px;
    height: 535px;
    overflow: hidden;
}

.main_photo_container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 썸네일 리스트 */
#box2,
#box3 {
    display: flex;
    gap: 15px;
    justify-content: flex-start;
    margin-top: 20px;
    margin-left: 150px;
}

#box2 li,
#box3 li {
    width: 320px;
    height: 180px;
    cursor: pointer;
    position: relative;
    transition: 0.2s;
}

#box2 img,
#box3 img {
    width: 100%;
    display: block;
    aspect-ratio: 16/10;
    object-fit: cover;
}

.photo_board,
.photo1_board {
    display: none;
}

.photo_board.active,
.photo1_board.active {
    display: block;
}

h4 {
    padding-bottom: 20px;
    font-size: 25px;
    padding-left: 150px;
}

.intro_p {
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 25px;
    padding-left: 150px;
}

.buttm_box1 {
    margin-left: 150px;
    padding: 65px 0 25px;
    font-size: 25px;
    font-weight: 500;
    font-family: "optima-lt-pro", sans-serif;
    font-weight: 700;
    font-style: normal;
}


.Service {
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    width: 990px;
    margin-left: 150px;
    display: flex;
}

.Service_text1 p {
    font-size: 20px;
    padding: 15px 60px 0px 40px;


}

.Service_text2 p {
    font-size: 20px;
    padding: 15px 0px 0px 60px;

}

.ebm {
    border-left: 1px solid #333;
    height: 135px;
}

.Service1 {
    display: flex;
    height: 165px;
    width: 990px;
    border-bottom: 1px solid #333;
    margin-left: 150px;
    margin-bottom: 100px;
}

.Service1_text strong {
    display: block;
    font-size: 20px;
    padding: 30px 0 15px;
}

.Service1_text {
    padding-left: 40px;
}

.Service1_text1 {
    font-size: 25px;
    font-weight: 600;
    padding: 25px 0px 5px 200px;
}

.Service1_text1 p {
    padding: 5px 0;
}

.Service1_text1_2 {
    font-size: 25px;
    font-weight: 600;
    padding: 25px 0px 5px 270px;
}

.Service1_text1_2 p {
    padding: 5px 0;
}


/* container2 */

.buud1 {
    height: 250px;
    background: url(../img/sub3/event/event_tltle.jpg) center;
    color: #fff;

}

.lnnt_container2 {
    width: 1320px;
    margin: 0 auto;
}

.lnnt_container_text strong {
    display: block;
    font-size: 22px;
    padding: 95px 0 30px;
    border-bottom: 1px solid #333;
}

.event {
    display: flex;
    padding: 60px 0 100px;
    justify-content: space-between;
}

.event p {
    padding: 25px 0;
}

.edd {
    font-weight: 500;
    font-size: 17px;
        font-family: "optima-lt-pro", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.buttm {
    display: block;
    background-color: #4B2223;
    color: #fff;
    width: 100px;
    height: 30px;
    text-align: center;
    padding-top: 3px;
    box-sizing: border-box;
    font-weight: 300;
    margin-left: 280px;
    cursor: pointer;
}


/* .lnnt_container3 */

.lnnt_container3 {
    width: 1320px;
    margin: 0 auto;


}

.buud2 {
    height: 250px;
    background: url(../img/sub3/package/package_tltie.jpg) center;
    color: #fff;
    font-family: "optima-lt-pro", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.package {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    padding: 60px 0 100px;
}

.package_titie {
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 15px;
        font-family: "optima-lt-pro", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.padd {
    margin-left: 480px;
    margin-top: 30px;
}

.buttm:hover {
    background-color: #262417;
}

.stro {
    font-weight: 700;
    padding: 20px 0 10px;
}




#footer {
    height: 335px;
    background-color: #5A5843;
    color: #fff;
}

.lnnt_footer {
    width: 1320px;
    margin: 0 auto;
}

.footer_logo {
    padding-top: 30px;
}

.footer_util {
    display: flex;
}

.footer_util li a {
    margin-right: 55px;
    margin-top: 30px;
    opacity: 0.6;
}

.footer_util li a:hover {
    opacity: 1;
}


.lnnt_p {
    display: flex;
    margin-top: 55px;
    justify-content: space-between;
    font-size: 15px;
    position: relative;
}

.lnnt_p_text span {
    position: absolute;
    top: -5px;
    right: 185px;
    font-family: "optima-lt-pro", sans-serif;
    font-weight: 700;
    font-style: normal;
}


.sns {
    display: flex;
    padding-top: 25px;
}

.sns span {
    font-size: 15px;
    font-weight: 500;
}

.sns li a {
    margin-left: 30px;
    opacity: 0.6;
}

.sns li a:hover {
    opacity: 1;
}


.language {
    display: flex;
    justify-content: flex-end;

}

.language li a {
    margin-left: 20px;
    opacity: 0.6;
}

.language li a:hover {
    opacity: 1;
}



.ltd {
    font-size: 12px;
    padding-top: 25px;
}